services:
  # Redis para cache (ex: armazenar OTP)
  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--requirepass", "senha123"]

  # Mailpit para testes de envio de e-mails
  mailpit:
    image: axllent/mailpit
    container_name: mailpit
    ports:
      - "1025:1025" # SMTP
      - "8025:8025" # Interface Web (http://localhost:8025)
