services:
  minio:
    container_name: minio
    image: minio/minio
    restart: always
    command: server --console-address ":9001" /data
    ports:
      - "3001:9000" # API do MinIO
      - "9001:9001" # Console Web do MinIO
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    volumes:
      - typebot_s3_data:/data
    networks:
      - my-network

  createbuckets:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      sleep 10;
      /usr/bin/mc config host add minio http://minio:9000 minio minio123;
      /usr/bin/mc mb minio/ryan;
      /usr/bin/mc anonymous set public minio/ryan/public;
      exit 0;
      "
    networks:
      - my-network

volumes:
  typebot_s3_data:

networks:
  my-network:
